body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.red {
  color: red;
}

.green {
  color: green;
}

.black {
  color: black;
}

.blue {
  color: blue;
}
.grey {
  color: grey;
}
.white {
  color: lightgrey;
}

.modal-Img {
  height: 100%;
  width: 100%;
}

.move-bin {
  position: fixed;
  left: 80%;
  bottom: 0;
  width: 10%;
  background-color: lightskyblue;
  border-radius: 30px;
  color: black;
  text-align: center;
}
